@using RecipesProject.Data.Entities
@model List<Recipe>
@{
    ViewData["Title"] = "Recipe";
}
<link rel="stylesheet" href="~/css/all-recipes.css">
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            @await Html.PartialAsync("_SearchBar")
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="shadow rounded">
                <div class="border-bottom border-3 p-4">
                    <h4 class="text-pink text-center fst-italic">Filter recipes</h4>
                    @await Html.PartialAsync("Filters",new RecipesProject.Models.RecipeViewModels.FiltersViewModel())
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="card-container">
                @if (Model.Any())
                {
                    @foreach (var recipe in Model)
                    {
                        <div class="card">
                            <div class="card--img">
                        <img class="card--img" src="@recipe.Image" alt="@recipe.Title">
                        </div>
                        <div class="card--text">
                            <div class="card--title">
                                @recipe.Title
                            </div>
                            <div class="card--sub">
                                @recipe.Description
                            </div>
                            <a href="@Url.Action("GetRecipeById", "Recipe", new { id = recipe.Id })" class="cta">View Recipe</a>
                        </div>
                    </div>
                    }
                }
                else
                {
                    <p>Not found recipes with this filters.</p>
                }
            </div>
        </div>
    </div>
</div>