@model RecipesProject.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="container">
    <div class="row shadow rounded">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div>
                <img src="~/images/fideos-schezwan-o-fideos-hakka-verduras-o-chow-mein-son-recetas-populares-indochinas-que-sirven-tazon-o-plato-palillos-madera_466689-46360.webp" class="w-100" alt="Thali"/>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <form  autocomplete="off" method="post" class="m-3 p-3">
                <div class="mb-3">
                    <h2 class="text-pink fst-italic">Register</h2>
                    <span class="fst-italic text-muted">Create your account</span>
                </div>
                <div class="mb-3">
                    @Html.ValidationSummary()
                </div>
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(m => m.FirstName, new {@class="form-control", placeholder="First Name"})
                    <label asp-for="FirstName">First Name</label>
                </div>
                <div class="form-floating mb-3">
                  @Html.TextBoxFor(m => m.LastName, new {@class="form-control", placeholder="Last Name"})
                    <label asp-for="LastName">Last Name</label>
                </div>
                 <div class="form-floating mb-3">
                  @Html.TextBoxFor(m => m.UserName, new {@class="form-control", placeholder="User Name"})
                    <label asp-for="UserName">User Name</label>
                </div>
                 <div class="form-floating mb-3">
                  @Html.TextBoxFor(m => m.Age, new {@class="form-control", placeholder="Age"})
                    <label asp-for="Age">Age</label>
                </div>
                 <div class="form-floating mb-3">
                  @Html.TextBoxFor(m => m.Email, new {@class="form-control", placeholder="Email"})
                    <label asp-for="Email">Email</label>
                </div>
                 <div class="form-floating mb-3">
                  @Html.TextBoxFor(m => m.Password, new {@class="form-control", placeholder="Password", type="Password"})
                    <label asp-for="Password">Password</label>
                </div>
                <div class="form-floating mb-3">
                     @Html.TextBoxFor(m => m.ConfirmPassword, new {@class="form-control", placeholder="ConfirmPassword", type="Password"})
                    <label asp-for="ConfirmPassword">ConfirmPassword</label>
                </div>
                <button class="btn btn-sn btn-dark wbg-opacity-100 p-2" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
